body {
  margin: 0;
}

.ant-layout-header {
  color: #FFFFFF !important;
}

.ant-form-rtl .ant-form-item-label {
  text-align: right !important;
}

.green-macabbi {
  color: #008000;
  font-size: 20px;
}